.button {
    -fx-background-color: transparent;
    -fx-text-fill: #D9D9D9;
    -fx-background-radius: 16;
    -fx-border-width: 1;
    -fx-border-radius: 16;
    -fx-border-color: #D9D9D9;
}

.button:hover {
    -fx-background-radius: 16;
    -fx-border-color: #D9D9D9;
    -fx-border-width: 5;
    -fx-border-radius: 16;
}

.button:pressed {
    -fx-text-fill: #ADADAD11;
    -fx-background-radius: 16;
    -fx-border-color: #ADADAD11;
    -fx-border-width: 2;
    -fx-border-radius: 16;
}
